@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  font-family: sans-serif;
  padding: 15px;
  font-weight: bold;
  background-color: white;
}
nav a {
  text-decoration: none;
  color: black;
}

.list {
  display: flex;
  list-style: none;
  gap: 20px;
}

#toggler, label {
  display: none;
}

label i {
  color: black;
  font-size: 30px;
}

.container1 {
  background-image: url(../images/back.jpeg);
  width: 100%;
  height: 620px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.dop2 {
  display: flex;
  margin-right: 10px;
  transition: 0.7s;
  cursor: pointer;
}

.dop {
  display: flex;
  align-items: center;
  transition: 0.7s;
  cursor: pointer;
}

.container-i {
  padding-top: 1px;
}

.container-dop {
  padding-left: 10px;
  border-left: 2px solid black;
  display: flex;
  gap: 20px;
  padding-top: 1px;
  list-style: none;
}

.navlist {
  transition: 0.7s;
  cursor: pointer;
}

.navlist:focus, .navlist:hover {
  padding: 10px;
  border-radius: 9px;
}

.dop:focus, .dop:hover {
  color: rgb(165, 165, 165);
}

.dop2:focus, .dop2:hover {
  color: rgb(165, 165, 165);
}

.mainlayer {
  font-size: 60px;
  max-width: 40%;
  padding-bottom: 10px;
  font-family: Oswald;
}

.mainlayer2 {
  max-width: 26%;
  padding-bottom: 30px;
  font-size: 17px;
  font-family: Oswald;
}

.container1-left {
  padding-left: 3%;
  padding-top: 6%;
}

.shopnow {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  transition: 0.7s;
  cursor: pointer;
  border: 2px solid black;
  font-family: Oswald;
}

.shopnow:focus, .shopnow:hover {
  background-color: white;
  color: black;
}

a {
  font-family: Oswald;
}

.container-cube {
  margin-top: 40px;
  background-color: #f3f3f3;
  border-radius: 40px;
  position: relative;
  text-align: center;
  color: black;
}

.container-cube-img {
  border-radius: 40px;
  transition: 0.7s;
  cursor: pointer;
  text-align: center;
  color: black;
}

.cubes4 {
  text-align: center;
  color: black;
  display: flex;
  justify-content: space-evenly;
}

.text-block1 {
  position: absolute;
  left: 90px;
  bottom: 0px;
  font-family: Oswald;
  font-weight: bold;
  transition: 0.7s;
  cursor: pointer;
}

.text-block2 {
  position: absolute;
  left: 80px;
  bottom: 0px;
  font-family: Oswald;
  font-weight: bold;
  transition: 0.7s;
  cursor: pointer;
}

.text-block3 {
  position: absolute;
  left: 55px;
  bottom: 0px;
  font-family: Oswald;
  font-weight: bold;
  transition: 0.7s;
  cursor: pointer;
}

.text-block4 {
  position: absolute;
  left: 105px;
  bottom: 0px;
  font-family: Oswald;
  font-weight: bold;
  transition: 0.7s;
  cursor: pointer;
}

.icon-block {
  position: absolute;
  font-size: 40px;
  top: -6px;
  right: 18px;
  transition: 0.7s;
  cursor: pointer;
  z-index: 2;
}
.icon-block a {
  text-decoration: none;
  color: black;
}

.icon-block:hover ~ .container-cube-img {
  filter: blur(20px);
}

.icon-block:focus ~ .container-cube-img {
  filter: blur(20px);
}

.icon-block:hover ~ .text-block1 {
  filter: blur(20px);
}

.icon-block:focus ~ .text-block1 {
  filter: blur(20px);
}

.icon-block:hover ~ .text-block2 {
  filter: blur(20px);
}

.icon-block:focus ~ .text-block2 {
  filter: blur(20px);
}

.icon-block:hover ~ .text-block3 {
  filter: blur(20px);
}

.icon-block:focus ~ .text-block3 {
  filter: blur(20px);
}

.icon-block:hover ~ .text-block4 {
  filter: blur(20px);
}

.icon-block:focus ~ .text-block4 {
  filter: blur(20px);
}

.containertext {
  z-index: -3;
  position: absolute;
  top: 30px;
  font-family: Oswald;
  transition: 1.4s;
  cursor: pointer;
  font-weight: bold;
}
.containertext p {
  padding: 7%;
  color: black;
}

.icon-block:hover ~ .containertext {
  z-index: 3;
}

.container-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.row {
  --bs-gutter-x: 0rem !important;
  padding-bottom: 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}
.row .container-cube2 {
  background-color: #f3f3f3;
  border-radius: 40px;
  margin: 0 auto 0;
}
.row h2 {
  margin: 0 auto 0;
  text-align: center;
  font-family: Oswald;
  font-size: 25px;
  color: black;
  padding-top: 20px;
  font-weight: 900;
}
.row p {
  margin: 10px auto 0;
  padding-top: 14px;
  text-align: center;
  max-width: 200px;
  font-family: Oswald;
  max-width: 380px;
  font-size: 15px;
  color: black;
}

.container-details {
  text-decoration: none;
  background-color: black;
  cursor: pointer;
  transition: 0.7s;
  font-family: Oswald;
  padding: 10px;
  font-size: 15px;
  border-radius: 40px;
  font-weight: bold;
  color: #F8F9FA;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid black;
}

.container-details:focus, .container-details:hover {
  background-color: white;
  color: black;
}

.container-cube-img2 {
  height: 260px;
  width: 400px;
  border-radius: 40px;
}

.container-2line-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-line1 {
  height: 3px;
  width: 41%;
  background-color: black;
  margin-bottom: 51px;
  background: linear-gradient(to right, white, black);
}

.container-line2 {
  height: 3px;
  width: 41%;
  background-color: black;
  margin-bottom: 51px;
  background: linear-gradient(to left, white, black);
}

.container-text-1 {
  margin-bottom: 40px;
  font-family: Oswald;
  margin-left: 40px;
  margin-right: 40px;
}

.containermfooter {
  display: flex;
  justify-content: center;
}

.containerfooter {
  width: 70%;
  height: 430px;
  background-color: #f3f3f3;
  border-radius: 40px;
  display: flex;
  box-shadow: black 6px 8px 15px 0;
}

.float-end {
  padding-top: 30px;
  margin: 10px;
}

.float-end2 {
  padding-top: 30px;
  margin: 10px;
}

.containerleft {
  background-color: #f3f3f3;
  width: 40%;
  height: 100%;
  border-radius: 40px 0 0 40px;
}

.containerright {
  background-color: #f3f3f3;
  width: 60%;
  height: 100%;
  border-radius: 0 40px 40px 0;
}

.containerh2 {
  text-align: center;
  font-family: Oswald;
  font-size: 30px;
  padding-top: 20px;
}
.containerh2 .containertextunderh {
  font-size: 14px;
  max-width: 70%;
  margin: 10px auto 0;
}

.containercenteredtext {
  font-family: Oswald;
  padding-left: 26%;
  display: flex;
}
.containercenteredtext p {
  font-weight: bolder;
}

.container111 {
  font-size: 30px;
}

.containerunder2 {
  margin-top: -17px;
  font-size: 14px;
  margin-left: 10px;
}

.containerunder3 {
  margin-top: 10px;
  font-size: 18px;
  margin-left: 10px;
}

.containerbrands {
  width: 90%;
  background-color: black;
  margin-bottom: 40px;
  border-radius: 40px;
}

.containerblack {
  display: flex;
  justify-content: center;
}

.container-2line-text2 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-line12 {
  height: 3px;
  width: 30%;
  background-color: black;
  margin-bottom: 51px;
  background: linear-gradient(to right, black, white);
}

.container-line22 {
  height: 3px;
  width: 30%;
  background-color: black;
  margin-bottom: 51px;
  background: linear-gradient(to left, black, white);
}

.container-text-12 {
  margin-bottom: 40px;
  font-family: Oswald;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
}

.wrapper {
  padding-top: 30px;
}

.wrapper .input-box {
  margin-left: 20px;
  position: relative;
  padding-bottom: 10px;
}

.wrapper .input-box2 {
  margin-left: 20px;
  position: relative;
  padding-bottom: 10px;
}

.input-box input::-moz-placeholder {
  color: #6d6d6d;
}

.input-box input:-ms-input-placeholder {
  color: #6d6d6d;
}

.input-box input::placeholder {
  color: #6d6d6d;
}

.input-box2 input::-moz-placeholder {
  color: #6d6d6d;
}

.input-box2 input:-ms-input-placeholder {
  color: #6d6d6d;
}

.input-box2 input::placeholder {
  color: #6d6d6d;
}

.input-box input {
  width: 90%;
  height: 90%;
  border: none;
  outline: none;
  border: 2px solid;
  border-radius: 40px;
  font-size: 16px;
  color: #6d6d6d;
  padding: 10px 45px 10px 10px;
}

.wrapper .btnn {
  margin-left: 20px;
  width: 40%;
  height: 45px;
  background-color: black;
  border: 2px solid black;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btnn:focus, .btnn:hover {
  color: black;
  background-color: white;
}

.input-box2 input {
  width: 90%;
  height: 160px;
  border: none;
  outline: none;
  border: 2px solid;
  border-radius: 10px;
  font-size: 16px;
  color: #6d6d6d;
  padding: 10px 45px 10px 10px;
}

@media (max-width: 2560px) {
  .container1 {
    background-image: url(../images/back.jpeg);
    width: 100%;
    height: 1100px;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .mainlayer {
    font-size: 110px;
  }
  .mainlayer2 {
    font-size: 45px;
    padding-bottom: 30px;
  }
  .shopnow {
    font-size: 45px;
    padding: 10px;
    padding-left: 90px;
    padding-right: 90px;
  }
  nav {
    font-size: 36px;
    gap: 20px;
  }
  .imglogo1 {
    width: 400px;
  }
  .j3213 {
    width: 340px;
  }
  .container-text-1 h1 {
    font-size: 60px;
  }
  .container-cube2 {
    height: 460px;
    width: 630px;
    margin: 0 auto 0;
  }
  .container-cube-img2 {
    height: 460px;
    width: 630px;
  }
  .container-details {
    padding: 10px;
    font-size: 30px;
    border-radius: 40px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .row p {
    font-size: 34px;
    max-width: 630px;
    margin-bottom: 30px;
  }
  .row h2 {
    font-size: 50px;
  }
  .container-cube {
    height: 460px;
    width: 460px;
  }
  .container-cube-img {
    height: 460px;
    width: 460px;
  }
  .text-block1 {
    left: 170px;
    bottom: 0px;
    font-size: 100px;
  }
  .text-block2 {
    left: 150px;
    bottom: 0px;
    font-size: 36px;
  }
  .text-block3 {
    left: 125px;
    bottom: 0px;
    font-size: 100px;
  }
  .text-block4 {
    left: 190px;
    bottom: 0px;
    font-size: 100px;
  }
  .icon-block {
    font-size: 70px;
    top: -15px;
    right: 18px;
  }
  .containertext {
    z-index: -3;
    font-size: 30px;
    top: 30px;
  }
  .container-text-12 h1 {
    font-size: 60px;
  }
  .containerbrands {
    height: 980px;
  }
  .containerfooter {
    height: 600px;
  }
  .containerh2 {
    font-size: 120px;
    padding-top: 20px;
  }
  .containerh2 .containertextunderh {
    font-size: 24px;
  }
  .container111 {
    font-size: 50px;
  }
  .containerunder2 {
    margin-top: -17px;
    font-size: 24px;
    margin-left: 10px;
  }
  .containerunder3 {
    margin-top: 10px;
    font-size: 29px;
    margin-left: 10px;
  }
  .input-box2 input {
    height: 240px;
    font-size: 30px;
    padding: 10px 45px 10px 10px;
  }
  .input-box input {
    font-size: 30px;
  }
  .wrapper .btnn {
    height: 70px;
    font-size: 30px;
  }
  .float-end {
    font-size: 30px;
  }
  .float-end2 {
    font-size: 30px;
  }
}
@media (max-width: 1440px) {
  .container1 {
    width: 100%;
    height: 620px;
  }
  .mainlayer {
    font-size: 60px;
    max-width: 40%;
    padding-bottom: 10px;
    font-family: Oswald;
  }
  .mainlayer2 {
    max-width: 26%;
    padding-bottom: 30px;
    font-size: 17px;
    font-family: Oswald;
  }
  .shopnow {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    transition: 0.7s;
    cursor: pointer;
    border: 2px solid black;
    font-family: Oswald;
  }
  nav {
    font-size: 17px;
    gap: 20px;
  }
  .imglogo1 {
    width: 200px;
  }
  .j3213 {
    width: 200px;
  }
  .container-text-1 h1 {
    font-size: 28px;
  }
  .container-cube2 {
    height: 260px;
    width: 400px;
  }
  .container-cube-img2 {
    height: 260px;
    width: 400px;
  }
  .container-details {
    text-decoration: none;
    background-color: black;
    cursor: pointer;
    transition: 0.7s;
    font-family: Oswald;
    padding: 10px;
    font-size: 15px;
    border-radius: 40px;
    font-weight: bold;
    color: #F8F9FA;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid black;
  }
  .row p {
    font-size: 15px;
    max-width: 300px;
    margin-bottom: 30px;
  }
  .row h2 {
    font-size: 25px;
  }
  .container-cube {
    height: 260px;
    width: 260px;
  }
  .container-cube-img {
    height: 260px;
    width: 260px;
  }
  .icon-block {
    font-size: 40px;
    top: -6px;
    right: 18px;
  }
  .containertext {
    z-index: -3;
    font-size: 15px;
    top: 30px;
  }
  .text-block1 {
    left: 90px;
    bottom: 0px;
  }
  .text-block1 h1 {
    font-size: 30px;
  }
  .text-block2 {
    left: 80px;
    bottom: 0px;
  }
  .text-block2 h1 {
    font-size: 30px;
  }
  .text-block3 {
    left: 55px;
    bottom: 0px;
  }
  .text-block3 h1 {
    font-size: 30px;
  }
  .text-block4 {
    left: 105px;
    bottom: 0px;
  }
  .text-block4 h1 {
    font-size: 30px;
  }
  .container-text-12 h1 {
    font-size: 28px;
  }
  .containerbrands {
    height: 550px;
  }
  .containerfooter {
    height: 430px;
  }
  .containerh2 {
    font-size: 30px;
    padding-top: 20px;
  }
  .containerh2 .containertextunderh {
    font-size: 14px;
  }
  .containerunder2 {
    margin-top: -17px;
    font-size: 14px;
    margin-left: 10px;
  }
  .containerunder3 {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 10px;
  }
  .container111 {
    font-size: 30px;
  }
  .input-box2 input {
    height: 160px;
    font-size: 16px;
    padding: 10px 45px 10px 10px;
  }
  .input-box input {
    font-size: 16px;
  }
  .wrapper .btnn {
    height: 45px;
    font-size: 16px;
  }
  .float-end {
    font-size: 14px;
  }
  .float-end2 {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .container1 {
    width: 100%;
    height: 420px;
  }
  .mainlayer {
    font-size: 46px;
    max-width: 40%;
    padding-bottom: 10px;
    font-family: Oswald;
  }
  .mainlayer2 {
    max-width: 26%;
    padding-bottom: 30px;
    font-size: 15px;
    font-family: Oswald;
  }
  .shopnow {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    transition: 0.7s;
    cursor: pointer;
    border: 2px solid black;
    font-family: Oswald;
  }
  nav {
    font-size: 17px;
    gap: 20px;
  }
  .imglogo1 {
    width: 200px;
  }
  .j3213 {
    width: 200px;
  }
  .container-text-1 h1 {
    font-size: 24px;
  }
  .container-text-12 h1 {
    font-size: 24px;
  }
  .container-cube2 {
    height: 200px;
    width: 300px;
  }
  .container-cube-img2 {
    height: 200px;
    width: 300px;
  }
  .container-details {
    text-decoration: none;
    background-color: black;
    cursor: pointer;
    transition: 0.7s;
    font-family: Oswald;
    padding: 10px;
    font-size: 15px;
    border-radius: 40px;
    font-weight: bold;
    color: #F8F9FA;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid black;
  }
  .row p {
    font-size: 15px;
    max-width: 300px;
    margin-bottom: 30px;
  }
  .row h2 {
    font-size: 25px;
  }
  .container-cube {
    height: 200px;
    width: 200px;
  }
  .container-cube-img {
    height: 200px;
    width: 200px;
  }
  .icon-block {
    font-size: 30px;
    top: -6px;
    right: 18px;
  }
  .containertext {
    z-index: -3;
    font-size: 12px;
    top: 30px;
  }
  .containertext h1 {
    font-size: 24px;
  }
  .text-block1 {
    left: 70px;
    bottom: 0px;
  }
  .text-block1 h1 {
    font-size: 20px;
  }
  .text-block2 {
    left: 60px;
    bottom: 0px;
  }
  .text-block2 h1 {
    font-size: 20px;
  }
  .text-block3 {
    left: 45px;
    bottom: 0px;
  }
  .text-block3 h1 {
    font-size: 20px;
  }
  .text-block4 {
    left: 85px;
    bottom: 0px;
  }
  .text-block4 h1 {
    font-size: 20px;
  }
  .containerbrands {
    height: 450px;
  }
  .containerfooter {
    height: 430px;
  }
  .containerh2 {
    font-size: 24px;
    padding-top: 20px;
  }
  .containerh2 .containertextunderh {
    font-size: 12px;
  }
  .containerunder2 {
    margin-top: -17px;
    font-size: 12px;
    margin-left: 10px;
  }
  .containerunder3 {
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
  }
  .container111 {
    font-size: 22px;
  }
  .input-box2 input {
    height: 160px;
    font-size: 13px;
    padding: 10px 45px 10px 10px;
  }
  .input-box input {
    font-size: 13px;
  }
  .wrapper .btnn {
    height: 35px;
    font-size: 13px;
  }
  .float-end {
    font-size: 14px;
  }
  .float-end2 {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */