* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #090909;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: Manrope;
  padding: 15px;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: rgb(206, 206, 206);
  font-family: Manrope;
  margin-left: 5px;
}
nav img {
  width: 200px;
}

.navlist1 {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.navlist {
  position: relative;
}

.navlist:hover:before {
  transform: scaleX(1);
  transition: 0.5s;
}

.navlist:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(206, 206, 206);
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
}

#toggler, .label-dis {
  display: none;
}

label i {
  color: rgb(206, 206, 206);
  padding-right: 40px;
}

.containerfooter {
  display: flex;
  align-items: end;
  margin: 30px;
  justify-content: space-between;
}

.containup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.containup img {
  width: 200px;
  margin-right: 15px;
}
.containup i {
  font-size: 20px;
  color: white;
  margin-left: 15px;
}

.containdwn {
  display: flex;
}
.containdwn a {
  margin: 10px;
  font-family: manrope;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.containup1 {
  margin-top: 10px;
  margin-bottom: 12px;
  font-family: manrope;
  color: white;
  font-weight: 300;
  font-size: 13px;
  margin-right: 300px;
}

.form-group1 .form-input3 {
  display: flex;
  padding: 18px;
  align-items: center;
  align-self: stretch;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 342px;
  color: rgba(255, 255, 255, 0.2);
  margin-right: -5px;
}

.btnft1 {
  color: black;
  position: relative;
  top: -10px;
  background-color: white;
  display: flex;
  padding: 16px;
  margin-top: 20px;
  width: 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  text-decoration: none;
  font-family: manrope;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
}
.btnft1 a {
  color: black;
}

.btnft1:focus, .btnft1:hover {
  border: rgba(136, 136, 136, 0.2) 1px solid;
  color: white;
  background-color: #090909;
}

.container-ftin22 a {
  color: black;
}

.textdcr {
  transition: 0.3s;
  cursor: pointer;
}

.textdcr:focus, .textdcr:hover {
  text-decoration: underline;
}

.containerlineft {
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin: 30px;
  margin-top: -35px;
}

.containerft2 {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.cotainerleftft {
  margin-left: -5px;
  margin-bottom: 15px;
  margin-top: -10px;
}
.cotainerleftft a {
  text-decoration: none;
  color: white;
  font-family: manrope;
  font-size: 12px;
  margin-left: 15px;
}

.cotainerrightft {
  margin-right: -5px;
  margin-bottom: 15px;
  margin-top: -10px;
}
.cotainerrightft p {
  color: white;
  font-family: manrope;
  font-size: 12px;
  margin-left: 15px;
}

.containeraboutushdandp {
  display: flex;
  justify-content: center;
}

.containeraboutushdandp2 {
  flex-direction: column;
  text-align: center;
}

.containerhdaboutus {
  color: white;
  font-family: manrope;
  margin-bottom: 15px;
}
.containerhdaboutus h1 {
  font-size: 55px;
  letter-spacing: -3.4px;
  font-weight: 400;
}

.containerpaboutus {
  color: white;
  font-family: manrope;
  font-size: 13px;
  max-width: 500px;
  margin-bottom: 40px;
}
.containerpaboutus p {
  line-height: 0.9;
  font-weight: 300;
}

.containerlefttopwhy {
  display: flex;
}

.containerlefttopwhy1 {
  background-color: #111111;
  width: 390px;
  height: 209px;
  border-radius: 30px;
  margin: 10px;
  margin-left: 60px;
}
.containerlefttopwhy1 h1 {
  font-family: manrope;
  color: white;
  padding-left: 35px;
  padding-top: 30px;
  max-width: 80%;
  font-size: 55px;
  font-weight: 400;
  line-height: 0.95;
}

.containerlefttopwhy2 {
  background-color: #111111;
  width: 390px;
  height: 209px;
  border-radius: 30px;
  margin: 10px;
}

.containerwhychoseus {
  display: flex;
  justify-content: center;
}

.containerleftbottonwhy {
  background-color: #111111;
  width: 805px;
  height: 247px;
  border-radius: 40px;
  margin: 10px;
  margin-left: 40px;
}
.containerleftbottonwhy p {
  font-family: manrope;
  color: white;
  padding-left: 35px;
  padding-top: 30px;
  max-width: 720px;
  font-size: 20px;
  font-weight: 300;
}

.btn1tp {
  color: white;
  text-decoration: none;
  font-family: manrope;
  display: flex;
  text-align: center;
  border: 1px white solid;
  border-radius: 40px;
  padding: 8px;
  margin: 4px;
  font-weight: 300;
  font-size: 13px;
  padding-left: 68px;
  padding-right: 68px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.btn2tp {
  color: white;
  text-decoration: none;
  font-family: manrope;
  display: flex;
  text-align: center;
  border: 1px white solid;
  border-radius: 40px;
  padding: 8px;
  margin: 4px;
  font-weight: 300;
  font-size: 13px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.btn3tp {
  color: white;
  text-decoration: none;
  font-family: manrope;
  display: flex;
  text-align: center;
  border: 1px white solid;
  border-radius: 40px;
  padding: 8px;
  margin: 4px;
  font-weight: 300;
  font-size: 13px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.btn4tp {
  color: white;
  text-decoration: none;
  font-family: manrope;
  display: flex;
  text-align: center;
  border: 1px white solid;
  border-radius: 40px;
  padding: 8px;
  margin: 4px;
  font-weight: 300;
  font-size: 13px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.btn5tp {
  color: white;
  text-decoration: none;
  font-family: manrope;
  display: flex;
  text-align: center;
  border: 1px white solid;
  border-radius: 40px;
  padding: 8px;
  margin: 4px;
  font-weight: 300;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.btn6tp {
  color: white;
  text-decoration: none;
  font-family: manrope;
  display: flex;
  text-align: center;
  border: 1px white solid;
  border-radius: 40px;
  padding: 8px;
  margin: 4px;
  font-weight: 300;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.btn1tp:focus, .btn1tp:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
}

.btn2tp:focus, .btn2tp:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
}

.btn3tp:focus, .btn3tp:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
}

.btn4tp:focus, .btn4tp:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
}

.btn5tp:focus, .btn5tp:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
}

.btn6tp:focus, .btn6tp:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
}

.container1linewhy {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.container2linewhy {
  display: flex;
  justify-content: center;
}

.container3linewhy {
  display: flex;
  justify-content: center;
}

.containerrightwhy {
  background-color: #111111;
  width: 499px;
  height: 476px;
  border-radius: 30px;
  margin: 10px;
}
.containerrightwhy img {
  width: 100%;
}

.containerreviewdandp {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.containerhdreview {
  color: white;
  font-family: manrope;
  margin-bottom: 15px;
}
.containerhdreview h1 {
  font-size: 55px;
  letter-spacing: -3.4px;
  font-weight: 400;
}

.container3reviews {
  display: flex;
  justify-content: center;
}

.containercuberev {
  background-color: #111111;
  height: 282px;
  width: 416px;
  border-radius: 30px;
  margin: 10px;
}
.containercuberev p {
  font-family: manrope;
  font-weight: 300;
  color: white;
  margin: 20px;
  font-size: 18px;
}

.containerstarsholder {
  height: 20px;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
}
.containerstarsholder img {
  width: 20px;
}

.containeruser {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 20px;
  bottom: -395px;
}
.containeruser img {
  width: 40px;
  height: 40px;
}
.containeruser p {
  font-size: 16px;
  margin-left: 10px;
}

@media (max-width: 2560px) {
  nav {
    font-size: 52px;
    margin-left: 30px;
    margin-top: 20px;
  }
  nav .list {
    font-weight: 300;
    letter-spacing: -1.28px;
    gap: 90px;
    font-size: 26px;
  }
  nav label i {
    font-size: 49px;
    padding-right: 40px;
  }
}
@media (max-width: 1440px) {
  nav {
    font-size: 17px;
    margin-left: 10px;
    margin-top: 5px;
  }
  nav .list {
    font-weight: 300;
    letter-spacing: -1.28px;
    gap: 50px;
    font-size: 12px;
  }
  nav label i {
    font-size: 30px;
    padding-right: 40px;
  }
}/*# sourceMappingURL=aboutus.css.map */