@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url(../images/back.png);
    width: 100%;
    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color:#090909;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-family: Manrope;
    padding: 15px;
    font-weight: bold;
    a {
        text-decoration: none;
        color:rgb(206, 206, 206);
        font-family: Manrope;
        margin-left: 20px;
    }
}

.list {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 12px;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.navlist{
    position: relative;
}
.navlist:hover:before {
    transform: scaleX(1);
    transition: 0.5s;
}

.navlist:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
}

#toggler, .label-dis {
    display: none;
}

label i {
    color: rgb(206, 206, 206);
    font-size: 30px;
    padding-right: 40px;
}

.container-left-main {
    color: white;
    padding-left: 35px;
    font-family: Manrope;
    h1 {
        max-width: 420px;
        font-size: 58px;
        line-height: 0.80;
        font-weight: 400;
    }
    p {
        margin-top: 10px;
        max-width: 220px;
        font-size: 20px;
        color:  rgb(102, 102, 102) ;
        line-height: 1;
    }
}

.container-right-main {
    position: absolute;
    top: 100px;
    padding-top: 5px;
    color: white;
    height: 170px;
    margin-left: 75%;
    margin-right: 40px;
    font-family: Manrope;
    background-color:  #111111;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 0px;
    border-radius: 30px;
    h3 {
        padding-top: 6px;
        font-size: 24px;
        font-weight: 400;
    }
    p {
        padding-top: 10px;
        font-size: 16px;
        max-width: 260px;
        color: rgb(134, 134, 134);
        line-height: 0.95;
    }
}

.containermain {
    display: flex;
    padding-top: 3.5%;
}

.containerbtn {
    text-align: center;
    margin-top: 20px;
    padding: 8px;
    background-color: white;
    border-radius: 40px;
    width: 80px;
    border: 1px solid white;
    padding-left: 51px;
    padding-right: 51px;
    transition: 0.3s;
    cursor: pointer;
    a {
        font-family: Manrope;
        font-size: 13px;
        text-decoration: none;
        color: #0c0c0c;
        font-weight: 500px;
        transition: 0.3s;
        cursor: pointer;
    }
}

.containerbtn:focus, .containerbtn:hover {
    border: 1px solid white;
    background-color:#090909;
    a {
        color: white;
    }
}

.containerbtn2 {
    text-align: center;
    margin-top: 10px;
    padding: 8px;
    background-color:#111111;
    border-radius: 40px;
    width: 80px;
    border: 1px solid white;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.3s;
    cursor: pointer;
    a {
        font-family: Manrope;
        font-size: 14px;
        text-decoration: none;
        color: white;
        font-weight: 500px;
        transition: 0.3s;
        cursor: pointer;
    }
}

.containerbtn2:focus, .containerbtn2:hover {
    border: 1px solid white;
    background-color:white;
    a {
        color: black;
    }
}


.container123 {
    transform: translateY(-45%);
    margin-left: 77%;
    margin-top: 30px;
    display: flex;
    font-family: Manrope;
    position: relative;
}

.containercirclesinthecolum1{
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(134, 134, 134);
    position: relative;
    text-align: center;
    img {
        color: black;
        position: relative;
        width: 25px;
        height: 40px;
    }
}
.containercirclesinthecolum2{
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(134, 134, 134);
    position: relative;
    text-align: center;
    img {
        color: black;
        position: relative;
        width: 30px;
        height: 40px;
    }
}
.containercirclesinthecolum3{
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(134, 134, 134);
    position: relative;
    text-align: center;
    img {
        color: black;
        position: relative;
        width: 30px;
        height: 40px;
    }
}

.containertext1 {
    padding-left: 60px;
    position: absolute;
    transition: 0.3s;
    top: 4%;
    border-left: white 1px solid;
    margin-left: 19px;
    height: 120px;
    border-style: dashed;
    border-bottom: none;
    border-right: none;
    border-top: none;
    h3 {
        color: white;
    }
    p {
        color: rgb(134, 134, 134);
        max-width: 200px;
    }
}

.circle {
    width: 65px;
    height: 65px;
    padding: 25px;
    border-radius: 35px;
    background-color: #1e1e1e;
}

.container1223 {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-left: 26px;
    margin-right: 26px;
    padding-bottom: 100px;
}

.container21123 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 26px;
    margin-left: 26px;
    margin-right: 26px;
}

.containeradvantages {
    margin-top: 70px;
    height: 900px;
    width: 100%;
    display: flex;
}

.container-leftadvantages{
    margin: 20px;
    margin-top: 50px;
}
.container-header {
    background-color: #111111;
    width: 428px;
    height: 165px;
    border-radius: 25px;
    h2 {
        font-size: 56px;
        color: white;
        font-family: Manrope;
        padding-left: 20px;
        line-height: 0.85;
        padding-top: 7%;
        font-weight: 300;
    }
}

.container-1adv {
    position: relative;
    margin-top: 15px;
    background-color: #111111;
    width: 428px;
    height: 645px;
    border-radius: 35px;
    img {
        width: 100%;
        margin-top: 3px;
    }
}
.containertopadv {
    display: flex;
}
.container-rightadvantages{
    margin-top: 50px;
}
.container-2adv {
    position: relative;
    background-color: #111111;
    width: 418px;
    height: 417px;
    border-radius: 35px;
    img {
        width: 100%;
        margin-top: 20px;
    }
}

.container-3adv {
    position: relative;
    margin-left: 15px;
    background-color: #111111;
    width: 468px;
    height: 417px;
    border-radius: 35px;
    img {
        width: 100%;
        margin-top: 8px;
    }
}
.containerbottomadv {
    margin-top: 15px;
}

.container-4adv {
    position: relative;
    background-color: #111111;
    width: 900px;
    height: 393px;
    border-radius: 35px;
    img {
        width: 100%;
        margin-top: 8px;
    }
}
.text-block {
    position: absolute;
    top: 25px;
    left: 30px;
    color: white;
    font-family: Manrope;
    h3 {
        font-size: 22px;
        font-weight: 300;
    }
    p {
        color: rgb(134, 134, 134);
        font-weight: 300;
        font-size: 22px;
        max-width: 248px;
        letter-spacing: -1.28px;
        line-height: 100%;
        margin-top: 10px;
    }
}

.containerbrandheader {
    color: white;
    font-family: manrope;
    margin-left: 70px;
    h1 {
        font-size: 65px;
        font-weight: 500;
        letter-spacing: -3.4px;
    }
}