@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url(../images/back.png);
    width: 100%;
    height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color:#090909;
}

//nav
nav {
    //
    font-size: 17px;
    margin-left: 10px;
    margin-top: 5px;
    //
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Manrope;
    padding: 15px;
    font-weight: bold;
    a {
        text-decoration: none;
        color:rgb(206, 206, 206);
        font-family: Manrope;
        margin-left: 5px;
    }
    button {
        border: none;
        background-color: transparent;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        color:rgb(206, 206, 206);
        font-family: Manrope;
        margin-left: 5px;
    }
    img {
        width: 200px;
    }
}

label i {
    font-size:30px;
    padding-right: 40px;
}

.list {
    //
    font-weight: 300;
    letter-spacing: -1.28px;
    gap: 50px;
    font-size: 12px;
    //
    button {
        font-size: 12px;
    }
    display: flex;
    font-family: Manrope;
    list-style: none;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.navlist{
    position: relative;
    font-family: Manrope;
}

.navlist:hover:before {
    transform: scaleX(1);
    transition: 0.5s;
}

.navlist:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(206, 206, 206);
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
}

#toggler, .label-dis {
    display: none;
}

label i {
    color: rgb(206, 206, 206);
    padding-right: 40px;
}

//nav
//contact us button
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity  .4s, visibility .4s;
}

.modal__box {
    position: relative;
    width: 631px;
    height: 668px;
    z-index: 3;
    background-color: #111111;
    border-radius: 30px;
    padding: 20px;
    margin: 30px;
    transition: transform .8s;
    img {
        width: 200px;
    }
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.closebtn {
    border: none;
    background-color: transparent;
    padding: 5px;
    position: absolute;
    top: 8px;
    right: 8px;
    color: rgb(133, 131, 131);
    font-size: 30px;
    opacity: 0.5;
}

.closebtn:hover {
    opacity: 1;
} 

.containerftheadermd {
    font-size: 62px;
    font-weight: 400;
    font-family: manrope;
    margin-bottom: 3px;
    color: white;
}

.containerdopinfomd {
    font-size: 17px;
    margin-left: 20px;
    color: #848484;
    font-family: manrope;
    margin-bottom: 40px;
}

.container-ftin1 {
    display: flex;
}

.container-ftin1 {
    justify-content: center;
}

.form-groupcon .form-inputcon2 {
    display: flex;
    padding: 18px;
    margin: 10px;
    padding-bottom: 180px;
    align-items: center;
    align-self: stretch;
    border-radius: 18px;
    border: 1px solid rgba(136, 136, 136, 0.2);
    background: #191919;
    margin-bottom: 0px;
    width: 588px;    
    color: rgba(255, 255, 255, 0.2);
} 

.form-groupcon .form-inputcon {
    display: flex;
    padding: 20px;
    margin: 10px;
    border-radius: 18px;
    margin-bottom: 0px;
    border: 1px solid rgba(136, 136, 136, 0.2);
    background: #191919;
    width: 588px;
    color: rgba(255, 255, 255, 0.20);
}

.form-groupcon .form-inputcon1 {
    display: flex;
    padding: 20px;
    align-items: center;
    margin: 10px;
    border-radius: 18px;
    border: 1px solid rgba(136, 136, 136, 0.2);
    background: #191919;
    margin-bottom: 0px;
    width: 270px;
    color: rgba(255, 255, 255, 0.20);
}

.form-groupcon .form-inputcon11 {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    padding: 20px;
    align-items: center;
    border-radius: 18px;
    border: 1px solid rgba(136, 136, 136, 0.2);
    background: #191919;
    margin-bottom: 0px;
    width: 270px;
    color: rgba(255, 255, 255, 0.20);
}

.btnftcon {
    position: relative;
    top: -10px;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    width: 589px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    background: #FFF;
    text-decoration: none;
    font-family: manrope;
    color: black;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
}

.btnftcon:focus, .btnftcon:hover {
    border: rgba(136, 136, 136, 0.2) 1px solid;
    color: white;
    background-color: #0b0b0b;
}

.containerlinkscon {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 23px;
    right: 20px;
    i {
    color: white;
    font-size: 20px;
    text-decoration: none;
    }
}
//contact us button
//main
.containermain {
    display: flex;
    padding-top: 3.5%;
}

.container-left-main {
    //
    padding-left: 35px;
    margin-left: 0px;
    //
    color: white;
    padding-left: 35px;
    font-family: Manrope;
    h1 {
        line-height: 0.80;
        font-weight: 400;
        //
        max-width: 420px;
        font-size: 58px;
        //
    }
    p {
        color:  rgb(102, 102, 102) ;
        line-height: 1;
        //
        margin-top: 10px;
        max-width: 210px;
        font-size: 20px;
        //
    }
}

.containerbtn {
    text-align: center;
    margin-top: 20px;
    padding: 8px;
    background-color: white;
    border-radius: 40px;
    width: 80px;
    border: 1px solid white;
    padding-left: 51px;
    padding-right: 51px;
    transition: 0.3s;
    cursor: pointer;
    a {
        font-family: Manrope;
        font-size: 13px;
        text-decoration: none;
        color: #0c0c0c;
        font-weight: 500px;
        transition: 0.3s;
        cursor: pointer;
    }
}

.containerbtn:focus, .containerbtn:hover {
    border: 1px solid white;
    background-color:transparent;
    a {
        color: white;
    }
}

.containerbtn2 {
    text-align: center;
    margin-top: 10px;
    padding: 8px;
    background-color:transparent;
    border-radius: 40px;
    width: 80px;
    border: 1px solid white;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.3s;
    cursor: pointer;
    a {
        font-family: Manrope;
        font-size: 14px;
        text-decoration: none;
        color: white;
        font-weight: 500px;
        transition: 0.3s;
        cursor: pointer;
    }
}

.containerbtn2:focus, .containerbtn2:hover {
    border: 1px solid white;
    background-color:white;
    a {
        color: black;
    }
}

.container-right-main {
    position: absolute;
    top: 100px;
    padding-top: 5px;
    color: white;
    height: 170px;
    margin-left: 75%;
    margin-right: 40px;
    font-family: Manrope;
    background-color:  #111111;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 0px;
    border-radius: 30px;
    h3 {
        padding-top: 6px;
        font-size: 24px;
        font-weight: 400;
    }
    p {
        padding-top: 10px;
        font-size: 16px;
        max-width: 260px;
        color: rgb(134, 134, 134);
        line-height: 0.95;
    }
}

.container123 {
    transform: translateY(-45%);
    margin-left: 77%;
    margin-top: 30px;
    display: flex;
    font-family: Manrope;
    position: absolute;
}

.containertext1 {
    padding-left: 60px;
    position: absolute;
    transition: 0.3s;
    margin-top: -80px;
    top: 1%;
    border-left: white 1px solid;
    margin-left: 19px;
    height: 120px;
    border-style: dashed;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

.containercirclesinthecolum1{
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(134, 134, 134);
    position: relative ;
    margin-top: -80px;
    text-align: center;
    img {
        color: black;
        position: relative;
        width: 25px;
        height: 40px;
    }
}

.containercirclesinthecolum2{
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(134, 134, 134);
    position: relative;
    text-align: center;
    img {
        color: black;
        position: relative;
        width: 30px;
        height: 40px;
    }
}

.containercirclesinthecolum3{
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(134, 134, 134);
    position: relative;
    text-align: center;
    img {
        color: black;
        position: relative;
        width: 30px;
        height: 40px;
    }
}

.containercirclesinthecolum1.active,
.containercirclesinthecolum2.active,
.containercirclesinthecolum3.active {
    background-color: rgb(211, 211, 211);
}

#info-container {
    margin-top: -100px;
    padding: 20px;
    max-width: 180px;
    color: white;
    font-size: 15px;
    font-family: manrope;
    line-height: 0.95;
    display: none;
    h2 {
        margin-bottom: 20px;
    }
    p {
        color: rgb(134, 134, 134);
    }
}
//main
//advantages
.containeradvantages {
    margin-top: 250px;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-leftadvantages{
    margin: 10px;
    margin-top: 50px;
}

.container-header {
    background-color: #111111;
    width: 428px;
    height: 165px;
    border-radius: 25px;
    h2 {
        font-size: 56px;
        color: white;
        font-family: Manrope;
        padding-left: 20px;
        line-height: 0.85;
        padding-top: 7%;
        font-weight: 300;
    }
}

.container-1adv {
    position: relative;
    margin-top: 15px;
    background-color: #111111;
    width: 428px;
    height: 645px;
    border-radius: 35px;
    img {
        width: 100%;
        margin-top: 3px;
    }
}

.text-block {
    position: absolute;
    top: 25px;
    left: 30px;
    color: white;
    font-family: Manrope;
    h3 {
        font-size: 22px;
        font-weight: 300;
    }
    p {
        color: rgb(134, 134, 134);
        font-weight: 300;
        font-size: 22px;
        max-width: 248px;
        letter-spacing: -1.28px;
        line-height: 100%;
        margin-top: 10px;
    }
}

.container-rightadvantages{
    margin: 10px;
    margin-top: 50px;
}

.containertopadv {
    display: flex;
}

.container-2adv {
    position: relative;
    background-color: #111111;
    width: 418px;
    height: 417px;
    border-radius: 35px;
    img {
        width: 100%;
        margin-top: 20px;
    }
}

.container-3adv {
    position: relative;
    margin-left: 15px;
    background-color: #111111;
    width: 468px;
    height: 417px;
    border-radius: 35px;
    img {
        width: 100%;
        margin-top: 8px;
    }
}

.containerbottomadv {
    margin-top: 15px;
}

.container-4adv {
    position: relative;
    background-color: #111111;
    width: 900px;
    height: 393px;
    border-radius: 35px;
    img {
        width: 100%;
        margin-top: 8px;
    }
}
//advantages
//services we offer
.containerservicesweoffer {
    margin-top: 100px;
}

.containerfrst {
    display: flex;
}

.containerleftswo {
    width: 852px;
    border-radius: 30px;
    background-color: #111111;
    border-radius: 30px;
    height: 245px;
    margin: 10px;
    img {
        width: 100%;
    }
}

.containerrightswo {
    width: 486px;
    background-color: #111111;
    border-radius: 30px;
    height: 240px;
    margin: 10px;
    h2 {
        font-size: 56px;
        color: white;
        font-family: Manrope;
        padding-left: 20px;
        line-height: 0.85;
        padding-top: 3%;
        font-weight: 300;
        line-height: 1.1;
        max-width: 350px;
    }
}
.containersecondo {
    display: flex;
    margin-top: -8px;
}
.containerservices {
    width: 439px;
    height: 217px;
    background-color: #111111;
    border-radius: 30px;
    margin: 10px;
    font-family: manrope;
    margin-bottom: 70px;
    h3 {
        color: white;
        font-size: 26px;
        font-weight: 300;
        margin-left: 25px;
        line-height: 0.9;
        margin-top: 30px;
        max-width: 300px;
    }
    p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.50);
        font-weight: 300;
        margin-left: 25px;
        line-height: 1.1;
        margin-top: 10px;
        max-width: 365px;
    }
}
//services we offer
//brands we service
.containerbrandheader {
    color: white;
    font-family: manrope;
    margin-left: 70px;
    h1 {
        font-size: 65px;
        letter-spacing: -3.4px;
        font-weight: 300;
    }
}

.container21123 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 26px;
    margin-left: 26px;
    margin-right: 26px;
}

.container1223 {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-left: 26px;
    margin-right: 26px;
    padding-bottom: 100px;
}

.circle {
    width: 65px;
    height: 65px;
    padding: 25px;
    border-radius: 35px;
    background-color: #1e1e1e;
}

//brands we service
//visual parts
.containervisual {
    margin-top: -20px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.containerfrsblvis {
    position: relative;
    display: flex;
    justify-content: center;
    height: 585px;
    width: 1321px;
    background-color: #111111;
    border-radius: 20px;
    img {
        position: absolute;
        margin-top: 8%;
    }
    img {
        max-width: 100%;
    }
}

.visualheader {
    position: absolute; 
    color: white;
    line-height: 0.9;
    font-size: 58px;
    top: 23px;
    left: 20px;
    max-width: 500px;
    font-family: manrope;
    font-weight: 300;
}

.buttons {
    position: absolute;
    top: 0px;
    right: 20px;
}

.buttons button {
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    background-color: transparent;
    border-radius: 40px;
    height: 69px;
    width: 180px;
    border: 1px solid white;
    transition: 0.3s;
    cursor: pointer;
    p {
        font-family: Manrope;
        color: white;
        font-size: 15px;
        text-decoration: none;
        font-weight: 500px;
        transition: 0.3s;
        cursor: pointer;
    }
}

.buttons button:focus, .buttons button:hover {
    border: 1px solid white;
    background-color:white;
    p {
        color: black;
    }
}
//visual parts