@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(../images/back.png);
  width: 100%;
  height: 100vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #090909;
}

nav {
  font-size: 17px;
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: Manrope;
  padding: 15px;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: rgb(206, 206, 206);
  font-family: Manrope;
  margin-left: 5px;
}
nav button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(206, 206, 206);
  font-family: Manrope;
  margin-left: 5px;
}
nav img {
  width: 200px;
}

label i {
  font-size: 30px;
  padding-right: 40px;
}

.list {
  font-weight: 300;
  letter-spacing: -1.28px;
  gap: 50px;
  font-size: 12px;
  display: flex;
  font-family: Manrope;
  list-style: none;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.list button {
  font-size: 12px;
}

.navlist {
  position: relative;
  font-family: Manrope;
}

.navlist:hover:before {
  transform: scaleX(1);
  transition: 0.5s;
}

.navlist:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(206, 206, 206);
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
}

#toggler, .label-dis {
  display: none;
}

label i {
  color: rgb(206, 206, 206);
  padding-right: 40px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal__box {
  position: relative;
  width: 631px;
  height: 668px;
  z-index: 3;
  background-color: #111111;
  border-radius: 30px;
  padding: 20px;
  margin: 30px;
  transition: transform 0.8s;
}
.modal__box img {
  width: 200px;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.closebtn {
  border: none;
  background-color: transparent;
  padding: 5px;
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgb(133, 131, 131);
  font-size: 30px;
  opacity: 0.5;
}

.closebtn:hover {
  opacity: 1;
}

.containerftheadermd {
  font-size: 62px;
  font-weight: 400;
  font-family: manrope;
  margin-bottom: 3px;
  color: white;
}

.containerdopinfomd {
  font-size: 17px;
  margin-left: 20px;
  color: #848484;
  font-family: manrope;
  margin-bottom: 40px;
}

.container-ftin1 {
  display: flex;
}

.container-ftin1 {
  justify-content: center;
}

.form-groupcon .form-inputcon2 {
  display: flex;
  padding: 18px;
  margin: 10px;
  padding-bottom: 180px;
  align-items: center;
  align-self: stretch;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 588px;
  color: rgba(255, 255, 255, 0.2);
}

.form-groupcon .form-inputcon {
  display: flex;
  padding: 20px;
  margin: 10px;
  border-radius: 18px;
  margin-bottom: 0px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  width: 588px;
  color: rgba(255, 255, 255, 0.2);
}

.form-groupcon .form-inputcon1 {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 10px;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 270px;
  color: rgba(255, 255, 255, 0.2);
}

.form-groupcon .form-inputcon11 {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  align-items: center;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 270px;
  color: rgba(255, 255, 255, 0.2);
}

.btnftcon {
  position: relative;
  top: -10px;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  width: 589px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #FFF;
  text-decoration: none;
  font-family: manrope;
  color: black;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.btnftcon:focus, .btnftcon:hover {
  border: rgba(136, 136, 136, 0.2) 1px solid;
  color: white;
  background-color: #0b0b0b;
}

.containerlinkscon {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 23px;
  right: 20px;
}
.containerlinkscon i {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.containermain {
  display: flex;
  padding-top: 3.5%;
}

.container-left-main {
  padding-left: 35px;
  margin-left: 0px;
  color: white;
  padding-left: 35px;
  font-family: Manrope;
}
.container-left-main h1 {
  line-height: 0.8;
  font-weight: 400;
  max-width: 420px;
  font-size: 58px;
}
.container-left-main p {
  color: rgb(102, 102, 102);
  line-height: 1;
  margin-top: 10px;
  max-width: 210px;
  font-size: 20px;
}

.containerbtn {
  text-align: center;
  margin-top: 20px;
  padding: 8px;
  background-color: white;
  border-radius: 40px;
  width: 80px;
  border: 1px solid white;
  padding-left: 51px;
  padding-right: 51px;
  transition: 0.3s;
  cursor: pointer;
}
.containerbtn a {
  font-family: Manrope;
  font-size: 13px;
  text-decoration: none;
  color: #0c0c0c;
  font-weight: 500px;
  transition: 0.3s;
  cursor: pointer;
}

.containerbtn:focus, .containerbtn:hover {
  border: 1px solid white;
  background-color: transparent;
}
.containerbtn:focus a, .containerbtn:hover a {
  color: white;
}

.containerbtn2 {
  text-align: center;
  margin-top: 10px;
  padding: 8px;
  background-color: transparent;
  border-radius: 40px;
  width: 80px;
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.containerbtn2 a {
  font-family: Manrope;
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 500px;
  transition: 0.3s;
  cursor: pointer;
}

.containerbtn2:focus, .containerbtn2:hover {
  border: 1px solid white;
  background-color: white;
}
.containerbtn2:focus a, .containerbtn2:hover a {
  color: black;
}

.container-right-main {
  position: absolute;
  top: 100px;
  padding-top: 5px;
  color: white;
  height: 170px;
  margin-left: 75%;
  margin-right: 40px;
  font-family: Manrope;
  background-color: #111111;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 0px;
  border-radius: 30px;
}
.container-right-main h3 {
  padding-top: 6px;
  font-size: 24px;
  font-weight: 400;
}
.container-right-main p {
  padding-top: 10px;
  font-size: 16px;
  max-width: 260px;
  color: rgb(134, 134, 134);
  line-height: 0.95;
}

.container123 {
  transform: translateY(-45%);
  margin-left: 77%;
  margin-top: 30px;
  display: flex;
  font-family: Manrope;
  position: absolute;
}

.containertext1 {
  padding-left: 60px;
  position: absolute;
  transition: 0.3s;
  margin-top: -80px;
  top: 1%;
  border-left: white 1px solid;
  margin-left: 19px;
  height: 120px;
  border-style: dashed;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

.containercirclesinthecolum1 {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(134, 134, 134);
  position: relative;
  margin-top: -80px;
  text-align: center;
}
.containercirclesinthecolum1 img {
  color: black;
  position: relative;
  width: 25px;
  height: 40px;
}

.containercirclesinthecolum2 {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(134, 134, 134);
  position: relative;
  text-align: center;
}
.containercirclesinthecolum2 img {
  color: black;
  position: relative;
  width: 30px;
  height: 40px;
}

.containercirclesinthecolum3 {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(134, 134, 134);
  position: relative;
  text-align: center;
}
.containercirclesinthecolum3 img {
  color: black;
  position: relative;
  width: 30px;
  height: 40px;
}

.containercirclesinthecolum1.active,
.containercirclesinthecolum2.active,
.containercirclesinthecolum3.active {
  background-color: rgb(211, 211, 211);
}

#info-container {
  margin-top: -100px;
  padding: 20px;
  max-width: 180px;
  color: white;
  font-size: 15px;
  font-family: manrope;
  line-height: 0.95;
  display: none;
}
#info-container h2 {
  margin-bottom: 20px;
}
#info-container p {
  color: rgb(134, 134, 134);
}

.containeradvantages {
  margin-top: 250px;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-leftadvantages {
  margin: 10px;
  margin-top: 50px;
}

.container-header {
  background-color: #111111;
  width: 428px;
  height: 165px;
  border-radius: 25px;
}
.container-header h2 {
  font-size: 56px;
  color: white;
  font-family: Manrope;
  padding-left: 20px;
  line-height: 0.85;
  padding-top: 7%;
  font-weight: 300;
}

.container-1adv {
  position: relative;
  margin-top: 15px;
  background-color: #111111;
  width: 428px;
  height: 645px;
  border-radius: 35px;
}
.container-1adv img {
  width: 100%;
  margin-top: 3px;
}

.text-block {
  position: absolute;
  top: 25px;
  left: 30px;
  color: white;
  font-family: Manrope;
}
.text-block h3 {
  font-size: 22px;
  font-weight: 300;
}
.text-block p {
  color: rgb(134, 134, 134);
  font-weight: 300;
  font-size: 22px;
  max-width: 248px;
  letter-spacing: -1.28px;
  line-height: 100%;
  margin-top: 10px;
}

.container-rightadvantages {
  margin: 10px;
  margin-top: 50px;
}

.containertopadv {
  display: flex;
}

.container-2adv {
  position: relative;
  background-color: #111111;
  width: 418px;
  height: 417px;
  border-radius: 35px;
}
.container-2adv img {
  width: 100%;
  margin-top: 20px;
}

.container-3adv {
  position: relative;
  margin-left: 15px;
  background-color: #111111;
  width: 468px;
  height: 417px;
  border-radius: 35px;
}
.container-3adv img {
  width: 100%;
  margin-top: 8px;
}

.containerbottomadv {
  margin-top: 15px;
}

.container-4adv {
  position: relative;
  background-color: #111111;
  width: 900px;
  height: 393px;
  border-radius: 35px;
}
.container-4adv img {
  width: 100%;
  margin-top: 8px;
}

.containerservicesweoffer {
  margin-top: 100px;
}

.containerfrst {
  display: flex;
  justify-content: center;
}

.containerleftswo {
  width: 852px;
  border-radius: 30px;
  background-color: #111111;
  border-radius: 30px;
  height: 245px;
  margin: 10px;
}
.containerleftswo img {
  width: 100%;
}

.containerrightswo {
  width: 486px;
  background-color: #111111;
  border-radius: 30px;
  height: 240px;
  margin: 10px;
}
.containerrightswo h2 {
  font-size: 56px;
  color: white;
  font-family: Manrope;
  padding-left: 20px;
  line-height: 0.85;
  padding-top: 3%;
  font-weight: 300;
  line-height: 1.1;
  max-width: 350px;
}

.containersecondo {
  display: flex;
  margin-top: -8px;
  justify-content: center;
}

.containerservices {
  width: 439px;
  height: 217px;
  background-color: #111111;
  border-radius: 30px;
  margin: 10px;
  font-family: manrope;
  margin-bottom: 70px;
}
.containerservices h3 {
  color: white;
  font-size: 26px;
  font-weight: 300;
  margin-left: 25px;
  line-height: 0.9;
  margin-top: 30px;
  max-width: 300px;
}
.containerservices p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  margin-left: 25px;
  line-height: 1.1;
  margin-top: 10px;
  max-width: 365px;
}

.containerbrandheader {
  color: white;
  font-family: manrope;
  margin-left: 70px;
}
.containerbrandheader h1 {
  font-size: 65px;
  letter-spacing: -3.4px;
  font-weight: 300;
}

.container21123 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 26px;
  margin-left: 26px;
  margin-right: 26px;
}

.container1223 {
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-left: 26px;
  margin-right: 26px;
  padding-bottom: 100px;
}

.circle {
  width: 65px;
  height: 65px;
  padding: 25px;
  border-radius: 35px;
  background-color: #1e1e1e;
}

.containervisual {
  margin-top: -20px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.containerfrsblvis {
  position: relative;
  display: flex;
  justify-content: center;
  height: 585px;
  width: 1321px;
  background-color: #111111;
  border-radius: 20px;
}
.containerfrsblvis img {
  position: absolute;
  margin-top: 8%;
}
.containerfrsblvis img {
  max-width: 100%;
}

.visualheader {
  position: absolute;
  color: white;
  line-height: 0.9;
  font-size: 58px;
  top: 23px;
  left: 20px;
  max-width: 500px;
  font-family: manrope;
  font-weight: 300;
}

.buttons {
  position: absolute;
  top: 0px;
  right: 20px;
}

.buttons button {
  text-align: center;
  margin-top: 20px;
  padding: 0px;
  background-color: transparent;
  border-radius: 40px;
  height: 69px;
  width: 180px;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
}
.buttons button p {
  font-family: Manrope;
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500px;
  transition: 0.3s;
  cursor: pointer;
}

.buttons button:focus, .buttons button:hover {
  border: 1px solid white;
  background-color: white;
}
.buttons button:focus p, .buttons button:hover p {
  color: black;
}

.uppertechno {
  display: flex;
  justify-content: center;
}

.containerinov {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #111111;
  border-radius: 30px;
  width: 1341px;
  height: 480px;
  margin-bottom: 15px;
  margin-bottom: 90px;
}

.con1 {
  max-width: 400px;
  font-family: manrope;
  font-size: 48px;
  color: white;
  line-height: 0.85;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 300;
}
.con1 span {
  margin-left: 70px;
  font-weight: 300;
}
.con1 h2 {
  font-weight: 300;
}

.con2 {
  max-width: 600px;
  font-family: manrope;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px;
  line-height: 1;
  font-size: 16px;
}
.con2 p {
  font-weight: 300;
  margin-top: 20px;
  margin-right: 60px;
}

.con3 {
  max-width: 230px;
  font-family: manrope;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px;
  margin-left: -20px;
  line-height: 1;
  font-size: 15px;
  padding-bottom: 20px;
  padding-left: 25px;
}
.con3 p {
  font-weight: 300;
}

.containercontin {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 21px;
  margin-top: -70px;
  border-radius: 20px;
}

.containerimg {
  position: absolute;
  bottom: -70px;
  right: -18px;
  width: 1041px;
  height: 280px;
  margin-bottom: 70px;
  background-color: #111111;
  border-radius: 40px;
  margin-right: 20px;
}
.containerimg img {
  width: 100%;
  margin-top: -2px;
}

.container-ftin2 {
  display: flex;
  justify-content: center;
}

.containermainfooter {
  display: flex;
  justify-content: center;
}

.containerleftft {
  background-color: #0B0B0B;
  border-radius: 25px;
  padding-top: 70px;
  margin-right: 15px;
  margin-left: 30px;
  height: 587px;
  width: 657px;
}
.containerleftft h2 {
  color: white;
  font-family: Manrope;
  font-weight: 400;
}
.containerleftft p {
  color: rgb(145, 145, 145);
  font-family: Manrope;
  margin-bottom: 40px;
}

.containerftheader {
  font-size: 32px;
  font-family: manrope;
  margin-left: 40px;
  margin-bottom: 3px;
}

.containerdopinfo {
  font-size: 12px;
  margin-left: 65px;
}

.container-ftin1 {
  display: flex;
  justify-content: center;
}

.btnft {
  position: relative;
  top: -10px;
  display: flex;
  padding: 15px;
  margin-top: 20px;
  width: 517px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #FFF;
  text-decoration: none;
  font-family: manrope;
  color: black;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.btnft:focus, .btnft:hover {
  border: rgba(136, 136, 136, 0.2) 1px solid;
  color: white;
  background-color: #0b0b0b;
}

.form-group .form-input1 {
  display: flex;
  padding: 18px;
  align-items: center;
  margin: 10px;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 230px;
  color: rgba(255, 255, 255, 0.2);
}

.form-group .form-input11 {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  padding: 18px;
  align-items: center;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 230px;
  color: rgba(255, 255, 255, 0.2);
}

.form-group .form-input {
  display: flex;
  padding: 18px;
  margin: 10px;
  border-radius: 18px;
  margin-bottom: 0px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  width: 508px;
  color: rgba(255, 255, 255, 0.2);
}

.form-group .form-input2 {
  display: flex;
  padding: 18px;
  margin: 10px;
  padding-bottom: 140px;
  align-items: center;
  align-self: stretch;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 508px;
  color: rgba(255, 255, 255, 0.2);
}

.containerrightft {
  width: 617px;
  height: 617px;
  background-color: #111111;
  border-radius: 35px;
  margin-right: 50px;
}
.containerrightft img {
  width: 657px;
  height: 657px;
  border-radius: 35px;
}

.containerfooter {
  display: flex;
  align-items: end;
  margin: 30px;
  justify-content: space-between;
}

.containup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.containup img {
  width: 200px;
  margin-right: 15px;
}
.containup i {
  font-size: 20px;
  color: white;
  margin-left: 15px;
}

.containdwn {
  display: flex;
}
.containdwn a {
  margin: 10px;
  font-family: manrope;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.textdcr {
  transition: 0.3s;
  cursor: pointer;
}

.textdcr:focus, .textdcr:hover {
  text-decoration: underline;
}

.containup1 {
  margin-top: 10px;
  margin-bottom: 12px;
  font-family: manrope;
  color: white;
  font-weight: 300;
  font-size: 13px;
  margin-right: 300px;
}

.containdwn {
  display: flex;
}
.containdwn a {
  margin: 10px;
  font-family: manrope;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.form-group1 .form-input3 {
  display: flex;
  padding: 18px;
  align-items: center;
  align-self: stretch;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 342px;
  color: rgba(255, 255, 255, 0.2);
  margin-right: -5px;
}

.container-ftin22 a {
  color: black;
}

.btnft1 {
  color: black;
  position: relative;
  top: -10px;
  background-color: white;
  display: flex;
  padding: 16px;
  margin-top: 20px;
  width: 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  text-decoration: none;
  font-family: manrope;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
}
.btnft1 a {
  color: black;
}

.btnft1:focus, .btnft1:hover {
  border: rgba(136, 136, 136, 0.2) 1px solid;
  color: white;
  background-color: #090909;
}

.containerlineft {
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin: 30px;
  margin-top: -35px;
}

.containerft2 {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.cotainerleftft {
  margin-left: -5px;
  margin-bottom: 15px;
  margin-top: -10px;
}
.cotainerleftft a {
  text-decoration: none;
  color: white;
  font-family: manrope;
  font-size: 12px;
  margin-left: 15px;
}

.cotainerrightft {
  margin-right: -5px;
  margin-bottom: 15px;
  margin-top: -10px;
}
.cotainerrightft p {
  color: white;
  font-family: manrope;
  font-size: 12px;
  margin-left: 15px;
}

@media screen and (max-width: 2560px) {
  nav {
    font-size: 25px;
    padding: 20px;
  }
  nav img {
    width: 350px;
  }
  label i {
    font-size: 45px;
    padding-right: 60px;
  }
  .list {
    gap: 70px;
    font-size: 20px;
  }
  .list button {
    font-size: 20px;
  }
  .modal__box {
    width: 950px;
    height: 950px;
  }
  .form-groupcon .form-inputcon2 {
    padding: 30px;
    width: 880px;
    padding-bottom: 220px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .form-groupcon .form-inputcon {
    padding: 30px;
    width: 880px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .btnftcon {
    padding: 30px;
    width: 880px;
    margin-left: 2px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 30px;
  }
  .form-groupcon .form-inputcon11 {
    padding: 30px;
    width: 405px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .form-groupcon .form-inputcon1 {
    padding: 30px;
    width: 405px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .containerlinkscon {
    gap: 10px;
    bottom: 33px;
    right: 30px;
  }
  .containerlinkscon i {
    font-size: 32px;
    margin: 5px;
  }
  .closebtn {
    font-size: 45px;
  }
  .containerftheadermd {
    font-size: 82px;
  }
  .modal__box img {
    width: 270px;
  }
  .containerdopinfomd {
    font-size: 20px;
    margin-left: 45px;
    margin-bottom: 60px;
  }
  .container-left-main {
    padding-left: 35px;
    margin-left: 60px;
  }
  .container-left-main h1 {
    max-width: 800px;
    font-size: 110px;
  }
  .container-left-main p {
    margin-top: 30px;
    max-width: 400px;
    font-size: 40px;
    line-height: 0.85;
  }
  .container-right-main {
    top: 180px;
    padding-top: 5px;
    height: 340px;
    margin-left: 75%;
    margin-right: 40px;
    padding-right: 20px;
    padding-left: 50px;
    padding-top: 8px;
    padding-bottom: 0px;
    border-radius: 50px;
  }
  .container-right-main h3 {
    padding-top: 24px;
    font-size: 48px;
  }
  .container-right-main p {
    padding-top: 10px;
    font-size: 30px;
    max-width: 600px;
  }
  .containerbtn {
    margin-top: 40px;
    padding: 16px;
    border-radius: 40px;
    width: 250px;
    padding-left: 51px;
    padding-right: 51px;
  }
  .containerbtn a {
    font-size: 28px;
    font-weight: 500;
  }
  .containerbtn2 {
    margin-top: 25px;
    padding: 16px;
    border-radius: 40px;
    width: 250px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .containerbtn2 a {
    font-size: 28px;
    font-weight: 500;
  }
  .containercirclesinthecolum1 {
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
  }
  .containercirclesinthecolum1 img {
    width: 45px;
    height: 55px;
  }
  .containercirclesinthecolum2 {
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
  }
  .containercirclesinthecolum2 img {
    width: 60px;
    height: 60px;
  }
  .containercirclesinthecolum3 {
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
  }
  .containercirclesinthecolum3 img {
    width: 55px;
    height: 60px;
  }
  .container123 {
    margin-top: -30px;
    margin-left: 78%;
  }
  .containertext1 {
    padding-left: 60px;
    top: 5%;
    margin-left: 30px;
    height: 200px;
    border-style: dashed;
    border-bottom: none;
    border-right: none;
    border-top: none;
  }
  #info-container {
    margin-top: -120px;
    padding: 20px;
    max-width: 320px;
    font-size: 27px;
    line-height: 0.95;
  }
  #info-container h2 {
    margin-bottom: 20px;
  }
  .containerservicesweoffer {
    margin-top: 100px;
  }
  .containeradvantages {
    margin-top: 480px;
    height: 1500px;
  }
  .container-header {
    width: 800px;
    height: 280px;
    border-radius: 55px;
  }
  .container-header h2 {
    font-size: 90px;
    padding-left: 40px;
    line-height: 0.85;
    padding-top: 7.5%;
    font-weight: 300;
  }
  .container-1adv {
    margin-top: 15px;
    width: 800px;
    height: 1165px;
    border-radius: 55px;
  }
  .container-1adv img {
    width: 100%;
    margin-top: -38px;
  }
  .container-2adv {
    width: 800px;
    height: 657px;
    border-radius: 55px;
  }
  .container-2adv img {
    width: 100%;
    margin-top: -100px;
  }
  .container-3adv {
    margin-left: 15px;
    width: 839px;
    height: 657px;
    border-radius: 55px;
  }
  .container-3adv img {
    width: 100%;
    margin-top: -75px;
  }
  .container-4adv {
    width: 1654px;
    height: 783px;
    border-radius: 55px;
  }
  .container-4adv img {
    width: 100%;
    margin-top: 75px;
  }
  .text-block {
    top: 30px;
    left: 35px;
  }
  .text-block h3 {
    font-size: 48px;
    font-weight: 300;
  }
  .text-block p {
    font-weight: 300;
    font-size: 36px;
    max-width: 400px;
    letter-spacing: -1.28px;
    line-height: 100%;
    margin-top: 10px;
  }
  .containerleftswo {
    width: 1646px;
    border-radius: 55px;
    height: 476px;
    margin: 15px;
  }
  .containerleftswo img {
    width: 100%;
  }
  .containerrightswo {
    width: 800px;
    border-radius: 55px;
    height: 476px;
    margin: 15px;
  }
  .containerrightswo h2 {
    margin-top: 10px;
    margin-left: 22px;
    font-size: 120px;
    max-width: 750px;
    font-weight: 400;
  }
  .containerservices {
    width: 805px;
    height: 386px;
    border-radius: 55px;
    margin: 15px;
    font-family: manrope;
    margin-bottom: 70px;
  }
  .containerservices h3 {
    font-size: 56px;
    margin-left: 35px;
    margin-top: 40px;
    max-width: 600px;
  }
  .containerservices p {
    font-size: 29px;
    margin-left: 35px;
    margin-top: 20px;
    max-width: 660px;
  }
  .containerbrandheader {
    margin-left: 70px;
  }
  .containerbrandheader h1 {
    font-size: 110px;
    letter-spacing: -3.4px;
    font-weight: 300;
  }
  .circle {
    width: 135px;
    height: 135px;
    padding: 50px;
    border-radius: 65px;
  }
  .container21123 {
    margin-top: 40px;
    margin-bottom: 30px;
    gap: 26px;
    margin-left: 46px;
    margin-right: 46px;
  }
  .container1223 {
    gap: 26px;
    margin-left: 46px;
    margin-right: 46px;
    padding-bottom: 100px;
  }
  .containervisual {
    margin-top: -20px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
  }
  .containerfrsblvis {
    height: 1085px;
    width: 2471px;
    border-radius: 55px;
  }
  .containerfrsblvis img {
    margin-top: 8%;
  }
  .containerfrsblvis img {
    width: 100%;
  }
  .visualheader {
    font-size: 118px;
    top: 33px;
    left: 40px;
    max-width: 1200px;
    font-weight: 300;
  }
  .buttons button {
    margin-top: 40px;
    padding: 0px;
    border-radius: 55px;
    height: 109px;
    width: 300px;
  }
  .buttons button p {
    font-size: 25px;
    text-decoration: none;
    font-weight: 500px;
  }
  .containerinov {
    border-radius: 30px;
    width: 2471px;
    height: 880px;
    margin-bottom: 15px;
    margin-bottom: 90px;
  }
  .con1 {
    max-width: 1000px;
    font-size: 108px;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 300;
  }
  .con1 span {
    margin-left: 70px;
    font-weight: 300;
  }
  .con1 h2 {
    font-weight: 300;
  }
  .con2 {
    max-width: 1100px;
    margin: 20px;
    line-height: 1;
    font-size: 32px;
  }
  .con2 p {
    font-weight: 300;
    margin-top: 40px;
    margin-right: 60px;
  }
  .con3 {
    max-width: 520px;
    margin: 20px;
    margin-left: -10px;
    font-size: 32px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  .con3 p {
    font-weight: 300;
  }
  .containercontin {
    bottom: 10px;
    left: 21px;
    margin-top: -70px;
    border-radius: 20px;
  }
  .containerimg {
    bottom: -70px;
    right: -18px;
    width: 1841px;
    height: 280px;
    margin-bottom: 70px;
    border-radius: 40px;
    margin-right: 20px;
  }
  .containerimg img {
    width: 100%;
    margin-top: -222px;
  }
  .containerrightft {
    width: 1200px;
    height: 1200px;
    border-radius: 55px;
    margin-right: 50px;
  }
  .containerrightft img {
    width: 1200px;
    height: 1200px;
    border-radius: 55px;
  }
  .containerleftft {
    border-radius: 55px;
    padding-top: 70px;
    margin-right: 35px;
    margin-left: 30px;
    height: 1130px;
    width: 1200px;
  }
  .containerleftft h2 {
    font-weight: 400;
  }
  .containerleftft p {
    margin-bottom: 40px;
  }
  .containerftheader {
    font-size: 72px;
    margin-left: 40px;
    margin-bottom: 3px;
  }
  .containerdopinfo {
    font-size: 26px;
    margin-left: 85px;
  }
  .form-group .form-input1 {
    padding: 30px;
    width: 485px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .form-group .form-input11 {
    padding: 30px;
    width: 485px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .form-group .form-input {
    padding: 30px;
    width: 1040px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .form-group .form-input2 {
    padding: 30px;
    width: 1040px;
    padding-bottom: 320px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .btnft {
    padding: 30px;
    width: 1040px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 30px;
  }
  .cotainerrightft p {
    font-size: 20px;
  }
  .cotainerleftft a {
    font-size: 20px;
  }
  .containerlineft {
    height: 2px;
  }
  .btnft1 {
    padding: 26px;
    width: 160px;
    border-radius: 30px;
    font-weight: 300;
  }
  .btnft1 p {
    font-size: 26px;
  }
  .form-group1 .form-input3 {
    padding: 28px;
    border-radius: 30px;
    margin-bottom: 0px;
    width: 600px;
    margin-right: 0px;
    font-size: 26px;
  }
  .containup1 {
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 22px;
    margin-right: 290px;
  }
  .containdwn a {
    margin: 10px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .containup {
    margin-bottom: 10px;
  }
  .containup img {
    width: 350px;
    margin-right: 15px;
  }
  .containup i {
    font-size: 35px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1440px) {
  nav {
    --nav-font-size: 20px;
    --nav-padding: 20px;
  }
  nav img {
    width: 200px;
  }
  label i {
    font-size: 30px;
    padding-right: 60px;
  }
  .list {
    gap: 50px;
    font-size: 12px;
  }
  .list button {
    font-size: 12px;
  }
  .modal__box {
    width: 630px;
    height: 680px;
  }
  .form-groupcon .form-inputcon2 {
    width: 578px;
    padding: 18px;
    padding-bottom: 180px;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 10px;
  }
  .form-groupcon .form-inputcon {
    width: 578px;
    padding: 18px;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 10px;
  }
  .btnftcon {
    width: 580px;
    margin-left: 5px;
    padding: 18px;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 20px;
  }
  .form-groupcon .form-inputcon11 {
    padding: 20px;
    width: 265px;
    padding: 18px;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 10px;
  }
  .form-groupcon .form-inputcon1 {
    padding: 20px;
    width: 265px;
    padding: 18px;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 10px;
  }
  .containerlinkscon {
    gap: 10px;
    bottom: 23px;
    right: 30px;
  }
  .containerlinkscon i {
    font-size: 23px;
    margin: 5px;
  }
  .closebtn {
    font-size: 30px;
  }
  .containerftheadermd {
    font-size: 62px;
  }
  .modal__box img {
    width: 200px;
  }
  .containerdopinfomd {
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .container-left-main {
    padding-left: 35px;
    margin-left: 0px;
  }
  .container-left-main h1 {
    max-width: 420px;
    font-size: 58px;
  }
  .container-left-main p {
    margin-top: 10px;
    max-width: 210px;
    font-size: 20px;
  }
  .container-right-main {
    top: 100px;
    padding-top: -10px;
    height: 170px;
    margin-left: 75%;
    margin-right: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 30px;
  }
  .container-right-main h3 {
    position: absolute;
    padding-top: 10px;
    font-size: 24px;
    font-weight: 400;
  }
  .container-right-main p {
    padding-top: 50px;
    font-size: 16px;
    max-width: 260px;
    line-height: 0.95;
  }
  .containerbtn {
    margin-top: 20px;
    padding: 8px;
    border-radius: 40px;
    width: 90px;
    padding-left: 51px;
    padding-right: 51px;
  }
  .containerbtn a {
    font-size: 14px;
    font-weight: 500;
  }
  .containerbtn2 {
    margin-top: 10px;
    padding: 6px;
    border-radius: 40px;
    width: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .containerbtn2 a {
    font-size: 14px;
  }
  .containercirclesinthecolum1 {
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
  }
  .containercirclesinthecolum1 img {
    width: 25px;
    height: 40px;
  }
  .containercirclesinthecolum2 {
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
  }
  .containercirclesinthecolum2 img {
    width: 30px;
    height: 40px;
  }
  .containercirclesinthecolum3 {
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
  }
  .containercirclesinthecolum3 img {
    width: 30px;
    height: 40px;
  }
  .container123 {
    margin-top: 30px;
    margin-left: 77%;
  }
  .containertext1 {
    padding-left: 60px;
    top: 4%;
    margin-left: 19px;
    height: 120px;
    border-style: dashed;
    border-bottom: none;
    border-right: none;
    border-top: none;
  }
  #info-container {
    margin-top: -100px;
    padding: 20px;
    max-width: 180px;
    font-size: 15px;
    line-height: 0.95;
  }
  #info-container h2 {
    margin-bottom: 20px;
  }
  #info-container p {
    color: rgb(134, 134, 134);
  }
  .containeradvantages {
    margin-top: 220px;
    height: 900px;
  }
  .container-header {
    width: 458px;
    height: 165px;
    border-radius: 25px;
  }
  .container-header h2 {
    font-size: 56px;
    padding-left: 20px;
    line-height: 0.85;
    padding-top: 7%;
  }
  .container-1adv {
    margin-top: 15px;
    width: 458px;
    height: 645px;
    border-radius: 35px;
  }
  .container-1adv img {
    width: 100%;
    margin-top: -38px;
  }
  .container-2adv {
    width: 418px;
    height: 417px;
    border-radius: 35px;
  }
  .container-2adv img {
    width: 100%;
    margin-top: 20px;
  }
  .container-3adv {
    margin-left: 15px;
    width: 468px;
    height: 417px;
    border-radius: 35px;
  }
  .container-3adv img {
    width: 100%;
    margin-top: 8px;
  }
  .container-4adv {
    width: 900px;
    height: 393px;
    border-radius: 35px;
  }
  .container-4adv img {
    width: 100%;
    margin-top: 8px;
  }
  .text-block {
    top: 25px;
    left: 30px;
  }
  .text-block h3 {
    font-size: 22px;
  }
  .text-block p {
    font-size: 22px;
    max-width: 248px;
    letter-spacing: -1.28px;
    margin-top: 10px;
  }
  .containerservicesweoffer {
    margin-top: 20px;
  }
  .containerleftswo {
    width: 852px;
    border-radius: 30px;
    height: 245px;
    margin: 10px;
  }
  .containerleftswo img {
    width: 100%;
  }
  .containerrightswo {
    width: 516px;
    border-radius: 30px;
    height: 240px;
    margin: 10px;
  }
  .containerrightswo h2 {
    margin-top: 0px;
    margin-left: 0px;
    font-weight: 300;
    font-size: 56px;
    max-width: 350px;
  }
  .containerservices {
    width: 450px;
    height: 217px;
    background-color: #111111;
    border-radius: 30px;
    margin: 10px;
    font-family: manrope;
    margin-bottom: 70px;
  }
  .containerservices h3 {
    color: white;
    font-size: 26px;
    font-weight: 300;
    margin-left: 25px;
    line-height: 0.9;
    margin-top: 30px;
    max-width: 300px;
  }
  .containerservices p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    margin-left: 25px;
    line-height: 1.1;
    margin-top: 10px;
    max-width: 365px;
  }
  .containerbrandheader {
    margin-left: 70px;
  }
  .containerbrandheader h1 {
    font-size: 65px;
    letter-spacing: -3.4px;
    font-weight: 300;
  }
  .circle {
    width: 65px;
    height: 65px;
    padding: 25px;
    border-radius: 35px;
  }
  .container21123 {
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 26px;
    margin-left: 26px;
    margin-right: 26px;
  }
  .container1223 {
    gap: 26px;
    margin-left: 26px;
    margin-right: 26px;
    padding-bottom: 40px;
  }
  .containervisual {
    margin-top: -20px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .containerfrsblvis {
    height: 585px;
    width: 1380px;
    border-radius: 25px;
  }
  .containerfrsblvis img {
    margin-top: 8%;
  }
  .containerfrsblvis img {
    width: 100%;
  }
  .visualheader {
    font-size: 58px;
    top: 23px;
    left: 20px;
    max-width: 500px;
    font-weight: 300;
  }
  .buttons button {
    margin-top: 20px;
    padding: 0px;
    border-radius: 40px;
    height: 69px;
    width: 180px;
  }
  .buttons button p {
    font-size: 15px;
    text-decoration: none;
    font-weight: 500px;
  }
  .containerinov {
    border-radius: 30px;
    width: 1380px;
    height: 480px;
    margin-bottom: 15px;
    margin-bottom: 40px;
  }
  .con1 {
    max-width: 400px;
    font-size: 48px;
    line-height: 0.85;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 300;
  }
  .con1 span {
    margin-left: 70px;
    font-weight: 300;
  }
  .con1 h2 {
    font-weight: 300;
  }
  .con2 {
    max-width: 600px;
    margin: 20px;
    line-height: 1;
    font-size: 16px;
  }
  .con2 p {
    font-weight: 300;
    margin-top: 20px;
    margin-right: 60px;
  }
  .con3 {
    max-width: 230px;
    margin: 20px;
    margin-left: 0px;
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  .con3 p {
    font-weight: 300;
  }
  .containercontin {
    bottom: 10px;
    left: 21px;
    margin-top: -70px;
    border-radius: 20px;
  }
  .containerimg {
    bottom: -70px;
    right: -18px;
    width: 1041px;
    height: 280px;
    margin-bottom: 70px;
    border-radius: 40px;
    margin-right: 20px;
  }
  .containerimg img {
    width: 100%;
    margin-top: -2px;
  }
  .containerrightft {
    width: 720px;
    height: 720px;
    border-radius: 35px;
    margin-right: 50px;
  }
  .containerrightft img {
    width: 720px;
    height: 720px;
    border-radius: 35px;
  }
  .containerleftft {
    border-radius: 25px;
    padding-top: 70px;
    margin-right: 15px;
    margin-left: 30px;
    height: 650px;
    width: 720px;
  }
  .containerleftft h2 {
    font-weight: 400;
  }
  .containerleftft p {
    margin-bottom: 40px;
  }
  .containerftheader {
    font-size: 32px;
    margin-left: 40px;
    margin-bottom: 3px;
  }
  .containerdopinfo {
    font-size: 12px;
    margin-left: 65px;
  }
  .form-group .form-input1 {
    padding: 18px;
    margin: 10px;
    font-size: 12px;
    border-radius: 18px;
    margin-bottom: 0px;
    width: 230px;
  }
  .form-group .form-input11 {
    margin-top: 10px;
    margin-right: 10px;
    padding: 18px;
    font-size: 12px;
    border-radius: 18px;
    margin-bottom: 0px;
    width: 230px;
  }
  .form-group .form-input {
    padding: 18px;
    margin: 10px;
    font-size: 12px;
    border-radius: 18px;
    margin-bottom: 0px;
    width: 508px;
  }
  .form-group .form-input2 {
    padding: 18px;
    margin: 10px;
    padding-bottom: 140px;
    border-radius: 18px;
    font-size: 12px;
    margin-bottom: 0px;
    width: 508px;
  }
  .btnft {
    top: -10px;
    padding: 15px;
    margin-top: 20px;
    width: 517px;
    gap: 10px;
    border-radius: 18px;
    font-size: 13px;
    font-weight: 500;
  }
  .cotainerrightft p {
    font-size: 12px;
  }
  .cotainerleftft a {
    font-size: 12px;
  }
  .containerlineft {
    height: 1px;
  }
  .btnft1 {
    top: -10px;
    padding: 16px;
    margin-top: 20px;
    width: 80px;
    gap: 10px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 400;
  }
  .btnft1 p {
    font-size: 14px;
    font-family: manrope;
  }
  .form-group1 .form-input3 {
    padding: 18px;
    border-radius: 18px;
    margin-bottom: 0px;
    width: 342px;
    margin-right: -5px;
    font-size: 12px;
  }
  .containup1 {
    margin-top: 10px;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 13px;
    margin-right: 300px;
  }
  .containdwn a {
    margin: 10px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .containup {
    margin-bottom: 10px;
  }
  .containup img {
    width: 200px;
    margin-right: 15px;
  }
  .containup i {
    font-size: 20px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    --nav-font-size: 20px;
    --nav-padding: 20px;
  }
  nav img {
    width: 150px;
  }
  label i {
    font-size: 20px;
    padding-right: 30px;
  }
  .list {
    gap: 50px;
    font-size: 10px;
  }
  .list button {
    font-size: 10px;
  }
  .modal__box {
    width: 630px;
    height: 680px;
  }
  .form-groupcon .form-inputcon2 {
    width: 578px;
    padding: 18px;
    padding-bottom: 180px;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 10px;
  }
  .form-groupcon .form-inputcon {
    width: 578px;
    padding: 18px;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 10px;
  }
  .btnftcon {
    width: 580px;
    margin-left: 5px;
    padding: 18px;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 20px;
  }
  .form-groupcon .form-inputcon11 {
    padding: 20px;
    width: 265px;
    padding: 18px;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 10px;
  }
  .form-groupcon .form-inputcon1 {
    padding: 20px;
    width: 265px;
    padding: 18px;
    font-size: 12px;
    border-radius: 18px;
    margin-top: 10px;
  }
  .containerlinkscon {
    gap: 10px;
    bottom: 23px;
    right: 30px;
  }
  .containerlinkscon i {
    font-size: 23px;
    margin: 5px;
  }
  .closebtn {
    font-size: 30px;
  }
  .containerftheadermd {
    font-size: 62px;
  }
  .modal__box img {
    width: 200px;
  }
  .containerdopinfomd {
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .container-left-main {
    padding-left: 35px;
    margin-left: 0px;
  }
  .container-left-main h1 {
    max-width: 290px;
    font-size: 42px;
  }
  .container-left-main p {
    margin-top: 10px;
    max-width: 160px;
    font-size: 16px;
  }
  .container-right-main {
    top: 65px;
    padding-top: -10px;
    height: 150px;
    margin-left: 75%;
    margin-right: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 30px;
  }
  .container-right-main h3 {
    position: absolute;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
  }
  .container-right-main p {
    padding-top: 40px;
    font-size: 12px;
    max-width: 260px;
    line-height: 0.95;
  }
  .containerbtn {
    margin-top: 20px;
    padding: 8px;
    border-radius: 40px;
    width: 90px;
    padding-left: 31px;
    padding-right: 31px;
  }
  .containerbtn a {
    font-size: 12px;
    font-weight: 300;
  }
  .containerbtn2 {
    margin-top: 10px;
    padding: 4px;
    border-radius: 40px;
    width: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .containerbtn2 a {
    font-size: 12px;
  }
  .containercirclesinthecolum1 {
    margin-bottom: 20px;
    width: 25px;
    height: 25px;
  }
  .containercirclesinthecolum1 img {
    width: 18px;
    height: 23px;
  }
  .containercirclesinthecolum2 {
    margin-bottom: 20px;
    width: 25px;
    height: 25px;
  }
  .containercirclesinthecolum2 img {
    width: 20px;
    height: 25px;
  }
  .containercirclesinthecolum3 {
    margin-bottom: 20px;
    width: 25px;
    height: 25px;
  }
  .containercirclesinthecolum3 img {
    width: 20px;
    height: 25px;
  }
  .container123 {
    margin-top: -20px;
    margin-left: 77%;
  }
  .containertext1 {
    padding-left: 60px;
    top: 4%;
    margin-left: 12px;
    height: 100px;
    border-style: dashed;
    border-bottom: none;
    border-right: none;
    border-top: none;
  }
  #info-container {
    margin-top: -108px;
    padding: 20px;
    max-width: 140px;
    font-size: 12px;
    line-height: 0.95;
  }
  #info-container h2 {
    margin-bottom: 5px;
  }
  #info-container p {
    color: rgb(134, 134, 134);
  }
  .containerservicesweoffer {
    margin-top: 80px;
  }
  .containeradvantages {
    margin-top: 120px;
    height: 630px;
  }
  .container-header {
    width: 325px;
    height: 125px;
    border-radius: 25px;
  }
  .container-header h2 {
    font-size: 46px;
    padding-left: 20px;
    line-height: 0.85;
    padding-top: 7%;
  }
  .container-1adv {
    margin-top: 15px;
    width: 325px;
    height: 493px;
    border-radius: 35px;
  }
  .container-1adv img {
    width: 100%;
    margin-top: 5px;
  }
  .container-2adv {
    width: 300px;
    height: 305px;
    border-radius: 35px;
  }
  .container-2adv img {
    width: 100%;
    margin-top: 20px;
  }
  .container-3adv {
    margin-left: 15px;
    width: 339px;
    height: 305px;
    border-radius: 35px;
  }
  .container-3adv img {
    width: 100%;
    margin-top: 8px;
  }
  .container-4adv {
    width: 654px;
    height: 312px;
    border-radius: 35px;
  }
  .container-4adv img {
    width: 100%;
    margin-top: 33px;
  }
  .text-block {
    top: 25px;
    left: 30px;
  }
  .text-block h3 {
    font-size: 18px;
  }
  .text-block p {
    font-size: 18px;
    max-width: 180px;
    letter-spacing: -1.28px;
    margin-top: 10px;
  }
  .containerleftswo {
    width: 852px;
    border-radius: 30px;
    height: 185px;
    margin: 10px;
  }
  .containerleftswo img {
    width: 100%;
  }
  .containerrightswo {
    width: 486px;
    border-radius: 30px;
    height: 185px;
    margin: 10px;
  }
  .containerrightswo h2 {
    margin-top: 0px;
    margin-left: 0px;
    font-weight: 300;
    font-size: 56px;
    max-width: 350px;
  }
  .containerservices {
    width: 439px;
    height: 185px;
    background-color: #111111;
    border-radius: 30px;
    margin: 10px;
    font-family: manrope;
    margin-bottom: 20px;
  }
  .containerservices h3 {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-left: 25px;
    line-height: 0.9;
    margin-top: 20px;
    max-width: 250px;
  }
  .containerservices p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    margin-left: 25px;
    line-height: 1.1;
    margin-top: 10px;
    max-width: 260px;
  }
  .containerbrandheader {
    margin-left: 20px;
  }
  .containerbrandheader h1 {
    font-size: 55px;
    letter-spacing: -3.4px;
    font-weight: 300;
  }
  .circle {
    width: 50px;
    height: 50px;
    padding: 18px;
    border-radius: 20px;
  }
  .container21123 {
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 26px;
    margin-left: 26px;
    margin-right: 26px;
  }
  .container1223 {
    gap: 26px;
    margin-left: 26px;
    margin-right: 26px;
    padding-bottom: 70px;
  }
  .containervisual {
    margin-top: -20px;
    margin-bottom: 40px;
  }
  .containerfrsblvis {
    height: 455px;
    width: 1000px;
    border-radius: 30px;
  }
  .containerfrsblvis img {
    margin-top: 9%;
  }
  .containerfrsblvis img {
    width: 100%;
  }
  .visualheader {
    font-size: 38px;
    top: 23px;
    left: 20px;
    max-width: 350px;
    font-weight: 300;
  }
  .buttons button {
    margin-top: 20px;
    padding: 0px;
    border-radius: 40px;
    height: 49px;
    width: 140px;
  }
  .buttons button p {
    font-size: 12px;
    text-decoration: none;
    font-weight: 500px;
  }
  .containerinov {
    border-radius: 30px;
    width: 1000px;
    height: 340px;
    margin-bottom: 15px;
    margin-bottom: 90px;
  }
  .con1 {
    max-width: 400px;
    font-size: 38px;
    line-height: 0.85;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 300;
  }
  .con1 span {
    margin-left: 70px;
    font-weight: 300;
  }
  .con1 h2 {
    font-weight: 300;
  }
  .con2 {
    max-width: 680px;
    margin: 40px;
    line-height: 1;
    font-size: 14px;
  }
  .con2 p {
    font-weight: 300;
    margin-top: -20px;
    margin-right: 60px;
  }
  .con3 {
    max-width: 250px;
    margin: 10px;
    margin-left: -20px;
    font-size: 13px;
    padding-bottom: 5px;
    padding-left: 25px;
  }
  .con3 p {
    font-weight: 300;
  }
  .containercontin {
    bottom: 10px;
    left: 21px;
    margin-top: -70px;
    border-radius: 20px;
  }
  .containerimg {
    bottom: -62px;
    right: -18px;
    width: 700px;
    height: 180px;
    margin-bottom: 70px;
    border-radius: 40px;
    margin-right: 20px;
  }
  .containerimg img {
    width: 100%;
    margin-top: -2px;
  }
  .containerrightft {
    width: 480px;
    height: 480px;
    border-radius: 35px;
    margin-right: 50px;
  }
  .containerrightft img {
    width: 480px;
    height: 480px;
    border-radius: 35px;
  }
  .containerleftft {
    border-radius: 25px;
    padding-top: 70px;
    margin-right: 15px;
    margin-left: 30px;
    height: 480px;
    width: 480px;
  }
  .containerleftft h2 {
    font-weight: 400;
  }
  .containerleftft p {
    margin-bottom: 40px;
  }
  .containerftheader {
    font-size: 32px;
    margin-left: 40px;
    margin-bottom: 3px;
  }
  .containerdopinfo {
    font-size: 12px;
    margin-left: 65px;
  }
  .form-group .form-input1 {
    padding: 18px;
    margin: 10px;
    font-size: 12px;
    border-radius: 18px;
    margin-bottom: 0px;
    width: 230px;
  }
  .form-group .form-input11 {
    margin-top: 10px;
    margin-right: 10px;
    padding: 18px;
    font-size: 12px;
    border-radius: 18px;
    margin-bottom: 0px;
    width: 230px;
  }
  .form-group .form-input {
    padding: 18px;
    margin: 10px;
    font-size: 12px;
    border-radius: 18px;
    margin-bottom: 0px;
    width: 508px;
  }
  .form-group .form-input2 {
    padding: 18px;
    margin: 10px;
    padding-bottom: 140px;
    border-radius: 18px;
    font-size: 12px;
    margin-bottom: 0px;
    width: 508px;
  }
  .btnft {
    top: -10px;
    padding: 15px;
    margin-top: 20px;
    width: 517px;
    gap: 10px;
    border-radius: 18px;
    font-size: 13px;
    font-weight: 500;
  }
  .cotainerrightft p {
    font-size: 12px;
  }
  .cotainerleftft a {
    font-size: 12px;
  }
  .containerlineft {
    height: 1px;
  }
  .btnft1 {
    top: -10px;
    padding: 16px;
    margin-top: 20px;
    width: 80px;
    gap: 10px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 400;
  }
  .btnft1 p {
    font-size: 14px;
    font-family: manrope;
  }
  .form-group1 .form-input3 {
    padding: 18px;
    border-radius: 18px;
    margin-bottom: 0px;
    width: 342px;
    margin-right: -5px;
    font-size: 12px;
  }
  .containup1 {
    margin-top: 10px;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 13px;
    margin-right: 300px;
  }
  .containdwn a {
    margin: 10px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .containup {
    margin-bottom: 10px;
  }
  .containup img {
    width: 200px;
    margin-right: 15px;
  }
  .containup i {
    font-size: 20px;
    margin-left: 15px;
  }
}/*# sourceMappingURL=style.css.map */