@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(../images/back.png);
  width: 100%;
  height: 100vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #090909;
}

nav {
  font-size: 17px;
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: Manrope;
  padding: 15px;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: rgb(206, 206, 206);
  font-family: Manrope;
  margin-left: 5px;
}
nav button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(206, 206, 206);
  font-family: Manrope;
  margin-left: 5px;
}
nav img {
  width: 200px;
}

label i {
  font-size: 30px;
  padding-right: 40px;
}

.list {
  font-weight: 300;
  letter-spacing: -1.28px;
  gap: 50px;
  font-size: 12px;
  display: flex;
  font-family: Manrope;
  list-style: none;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.list button {
  font-size: 12px;
}

.navlist {
  position: relative;
  font-family: Manrope;
}

.navlist:hover:before {
  transform: scaleX(1);
  transition: 0.5s;
}

.navlist:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(206, 206, 206);
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
}

#toggler, .label-dis {
  display: none;
}

label i {
  color: rgb(206, 206, 206);
  padding-right: 40px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal__box {
  position: relative;
  width: 631px;
  height: 668px;
  z-index: 3;
  background-color: #111111;
  border-radius: 30px;
  padding: 20px;
  margin: 30px;
  transition: transform 0.8s;
}
.modal__box img {
  width: 200px;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.closebtn {
  border: none;
  background-color: transparent;
  padding: 5px;
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgb(133, 131, 131);
  font-size: 30px;
  opacity: 0.5;
}

.closebtn:hover {
  opacity: 1;
}

.containerftheadermd {
  font-size: 62px;
  font-weight: 400;
  font-family: manrope;
  margin-bottom: 3px;
  color: white;
}

.containerdopinfomd {
  font-size: 17px;
  margin-left: 20px;
  color: #848484;
  font-family: manrope;
  margin-bottom: 40px;
}

.container-ftin1 {
  display: flex;
}

.container-ftin1 {
  justify-content: center;
}

.form-groupcon .form-inputcon2 {
  display: flex;
  padding: 18px;
  margin: 10px;
  padding-bottom: 180px;
  align-items: center;
  align-self: stretch;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 588px;
  color: rgba(255, 255, 255, 0.2);
}

.form-groupcon .form-inputcon {
  display: flex;
  padding: 20px;
  margin: 10px;
  border-radius: 18px;
  margin-bottom: 0px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  width: 588px;
  color: rgba(255, 255, 255, 0.2);
}

.form-groupcon .form-inputcon1 {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 10px;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 270px;
  color: rgba(255, 255, 255, 0.2);
}

.form-groupcon .form-inputcon11 {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  align-items: center;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 270px;
  color: rgba(255, 255, 255, 0.2);
}

.btnftcon {
  position: relative;
  top: -10px;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  width: 589px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #FFF;
  text-decoration: none;
  font-family: manrope;
  color: black;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.btnftcon:focus, .btnftcon:hover {
  border: rgba(136, 136, 136, 0.2) 1px solid;
  color: white;
  background-color: #0b0b0b;
}

.containerlinkscon {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 23px;
  right: 20px;
}
.containerlinkscon i {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.containermainfooter {
  display: flex;
}

.containerleftft {
  background-color: #0B0B0B;
  border-radius: 25px;
  padding-top: 70px;
  margin-right: 15px;
  margin-left: 30px;
  height: 587px;
  width: 657px;
}
.containerleftft h2 {
  color: white;
  font-family: Manrope;
  font-weight: 400;
}
.containerleftft p {
  color: rgb(145, 145, 145);
  font-family: Manrope;
  margin-bottom: 40px;
}

.containerftheader {
  font-size: 32px;
  font-family: manrope;
  margin-left: 40px;
  margin-bottom: 3px;
}

.containerdopinfo {
  font-size: 12px;
  margin-left: 65px;
}

.container-ftin1 {
  display: flex;
  justify-content: center;
}

.btnft {
  position: relative;
  top: -10px;
  display: flex;
  padding: 15px;
  margin-left: 52px;
  margin-top: 20px;
  width: 517px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #FFF;
  text-decoration: none;
  font-family: manrope;
  color: black;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.btnft:focus, .btnft:hover {
  border: rgba(136, 136, 136, 0.2) 1px solid;
  color: white;
  background-color: #0b0b0b;
}

.form-group .form-input1 {
  display: flex;
  padding: 18px;
  align-items: center;
  margin: 10px;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 230px;
  color: rgba(255, 255, 255, 0.2);
}

.form-group .form-input11 {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  padding: 18px;
  align-items: center;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 230px;
  color: rgba(255, 255, 255, 0.2);
}

.form-group .form-input {
  display: flex;
  padding: 18px;
  margin: 10px;
  border-radius: 18px;
  margin-bottom: 0px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  width: 508px;
  color: rgba(255, 255, 255, 0.2);
}

.form-group .form-input2 {
  display: flex;
  padding: 18px;
  margin: 10px;
  padding-bottom: 140px;
  align-items: center;
  align-self: stretch;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 508px;
  color: rgba(255, 255, 255, 0.2);
}

.containerrightft {
  width: 617px;
  height: 617px;
  background-color: #111111;
  border-radius: 35px;
  margin-right: 50px;
}
.containerrightft img {
  width: 657px;
  height: 657px;
  border-radius: 35px;
}

.containerfooter {
  display: flex;
  align-items: end;
  margin: 30px;
  justify-content: space-between;
}

.containup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.containup img {
  width: 200px;
  margin-right: 15px;
}
.containup i {
  font-size: 20px;
  color: white;
  margin-left: 15px;
}

.containdwn {
  display: flex;
}
.containdwn a {
  margin: 10px;
  font-family: manrope;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.textdcr {
  transition: 0.3s;
  cursor: pointer;
}

.textdcr:focus, .textdcr:hover {
  text-decoration: underline;
}

.containup1 {
  margin-top: 10px;
  margin-bottom: 12px;
  font-family: manrope;
  color: white;
  font-weight: 300;
  font-size: 13px;
  margin-right: 300px;
}

.containdwn {
  display: flex;
}
.containdwn a {
  margin: 10px;
  font-family: manrope;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.form-group1 .form-input3 {
  display: flex;
  padding: 18px;
  align-items: center;
  align-self: stretch;
  border-radius: 18px;
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: #191919;
  margin-bottom: 0px;
  width: 342px;
  color: rgba(255, 255, 255, 0.2);
  margin-right: -5px;
}

.container-ftin22 a {
  color: black;
}

.btnft1 {
  color: black;
  position: relative;
  top: -10px;
  background-color: white;
  display: flex;
  padding: 16px;
  margin-top: 20px;
  width: 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  text-decoration: none;
  font-family: manrope;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
}
.btnft1 a {
  color: black;
}

.btnft1:focus, .btnft1:hover {
  border: rgba(136, 136, 136, 0.2) 1px solid;
  color: white;
  background-color: #090909;
}

.containerlineft {
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin: 30px;
  margin-top: -35px;
}

.containerft2 {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.cotainerleftft {
  margin-left: -5px;
  margin-bottom: 15px;
  margin-top: -10px;
}
.cotainerleftft a {
  text-decoration: none;
  color: white;
  font-family: manrope;
  font-size: 12px;
  margin-left: 15px;
}

.cotainerrightft {
  margin-right: -5px;
  margin-bottom: 15px;
  margin-top: -10px;
}
.cotainerrightft p {
  color: white;
  font-family: manrope;
  font-size: 12px;
  margin-left: 15px;
}/*# sourceMappingURL=style.css.map */